<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learning App</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/Lessons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>

<body>
    <div id="app">
        <header id="navbar">
            <h1 id="sitetitle" v-text="sitename"></h1>
            <button v-show="btnCart" id="btnCart" v-on:click='showCart'>
                <!--Returns the Number of Items Inside the Cart.-->
                {{cartItemCount}}
                <span id="btnText" class="fas fa-cart-plus">Cart</span>
            </button>
        </header>
        <main>
            <!--If this sections shows true then in will display the lessons section on the webpage-->
            <div id="box" v-if='showLessonsPage'>
                <div id="sort-section">
                    <h1>Sorting By:</h1>
                    <!--V-model - Sort will automatically pick up changes and update the data on screen-->
                    <select v-model="sort" v-on:change="sortLessons">
                        <!--Accroding to each value of the switch case it will execute that case/function and sort those subjects.-->
                        <option :value="1">Subject Name: A to Z</option>
                        <option :value="2">Subject Name: Z to A</option>
                        <option :value="3">Location: A to Z</option>
                        <option :value="4">Location: Z to A</option>
                        <option :value="5">Price: Cheap to Expensive</option>
                        <option :value="6">Price: Expensive to Cheap</option>
                        <option :value="7">Availability: High to Low</option>
                        <option :value="8">Availability: Low to High</option>
                    </select>
                </div>
                <div id="main" v-for="lesson in lessons">
                    <!--Using this V-for all the lessons in the lessons.js will be displayed in this section.
                    lessons means all the lessons, lesson means one lesson from the lesson.js, it get's each and displays them here.-->
                    <h1>Subject: {{lesson.SubjectName}}</h1>
                    <h2>Location: {{lesson.Location}}</h2>
                    <h3>Price: £{{lesson.Price}}</h3>

                    <!--If the lesson space is equal and equal type to the cart Cout then it should show this message. 
                    5 is the maxium space for one lesson so if a lesson space is equal/type to 5 then it should display this message.-->
                    <span v-if='lesson.Space === cartCount(lesson)'>
                        <h4>Spaces Full</h4>
                    </span>

                    <!--Else If lesson space is less then 5 then redcue one space using the minus operater, also 
                    showing the updated spaces on the page as its being reuced. This will automatiicly stop when it will go greater then 5.-->
                    <span v-else-if="lesson.Space - cartCount(lesson) < 5">
                        <h4>Available Spaces: {{lesson.Space - cartCount(lesson)}}</h4>
                    </span>

                    <!--Else if will just show the remaining spaces left in the lessons.-->
                    <span v-else>
                        <h4>Available Spaces: {{lesson.Space}}</h4>
                    </span>

                    <figure>
                        <img v-bind:src="lesson.Image" height="100" width="100">
                    </figure>

                    <!--Clicking on the add to cart button will add a lesson to the cart util it can add to the cart. -->
                    <!--If it can add to cart then the button will be diplayed an the user can keep on adding-->
                    <button v-on:click='addToCart(lesson)' v-if='canAddToCart(lesson)'>Add to cart</button>

                    <!--If it cannot add as spaces will be full then  it will hide the button.-->
                    <button id="hide" hidden="hidden" v-else>Add to cart</button>
                </div>
            </div>
            <!--If the show lessons page == false then it will switch to the cart section and display the cart section on the app -->
            <div id="cart-page" v-else>
                <!--Switching to the Cart Page-->
                <center>
                    <h1>Cart</h1>
                </center>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        let lessonApp = new Vue({
            el: '#app',
            data: { //All the varibles and data for the V-show, V-model, and lessons cart data are defined in this section.
                sitename: 'Lessons-App',
                lessons: JSON.parse(localStorage.getItem("Lessons")),
                displayLessonsCart: [],
                showLessonsPage: true,
                btnCart: true,
                sort: '',
            },
            mounted() { //This is used when the page first loads up, this will execute everyting in the beggining. 
                this.btnCart = false;
            },
            methods: {
                showCart() {
                    //Chnaging button text based on the naviigation between lesson-section & cart-section.
                    if (document.getElementById("btnText").innerHTML = "Cart") { //First displayed as cart.
                        document.getElementById("btnText").innerHTML = "Lessons";
                    } else {
                        document.getElementById("btnText").innerHTML = "Cart";
                    }
                    //Getting the Cart for displaying.
                    this.displayLessonsCart = JSON.parse(localStorage.getItem("Cart"));
                    this.showLessonsPage = this.showLessonsPage ? false : true; //Turn the message to false to display the cart. 
                },
                cartCount(lesson) { //Finding a lesson element from the cart which will equal the same lesson. 
                    let count = 0;
                    //This for-loop is going to go through everyting inside of the cart. 
                    for (let i = 0; i < this.displayLessonsCart.length; i++) {
                        //If an element of the cart is equal/equal type to the input(lesson) them, the count will increase by 1.
                        if (this.displayLessonsCart[i] === lesson) {
                            count++;
                        }
                    }
                    return count; //Returns the count of how many have been identified.
                },
                addToCart(lesson) {
                    this.btnCart = true;    //If one lesson is added to the cart then it will show the cart button.
                    this.displayLessonsCart.push(lesson);   //Pushing the lessing into the Cart Array.
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart));  //Updatimg the Cart each time a lesson is added. 
                },
                canAddToCart(lesson) {
                    //Comparing how many is already in the cart with the actual lesson space. 
                    return lesson.Space > this.cartCount(lesson);
                },
                sortLessons() {
                    switch (this.sort) {
                        case 1:
                            return this.lessons.sort((a, b) => {    //For High to Low
                                if (a.SubjectName > b.SubjectName) {    //If this statement is true then it will return 1.
                                    return 1;
                                } else if (a.SubjectName < b.SubjectName) { //If this statement is true then it will return -1
                                    return -1;
                                } else {
                                    return 0;   //Else it just returns 0. 
                                }
                            })
                        case 2:
                            return this.lessons.sort((a, b) => {    //For Low to High
                                if (a.SubjectName > b.SubjectName) {
                                    return -1;
                                } else if (a.SubjectName < b.SubjectName) {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            })
                        case 3:
                            return this.lessons.sort((a, b) => {
                                if (a.Location > b.Location) {
                                    return 1;
                                } else if (a.Location < b.Location) {
                                    return -1;
                                } else {
                                    return 0;
                                }
                            })
                        case 4:
                            return this.lessons.sort((a, b) => {
                                if (a.Location > b.Location) {
                                    return -1;
                                } else if (a.Location < b.Location) {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            })
                        case 5:
                            return this.lessons.sort((a, b) => {
                                if (a.Price > b.Price) {
                                    return 1;
                                } else if (a.Price < b.Price) {
                                    return -1;
                                } else {
                                    return 0;
                                }
                            })
                        case 6:
                            return this.lessons.sort((a, b) => {
                                if (a.Price > b.Price) {
                                    return -1;
                                } else if (a.Price < b.Price) {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            })
                        case 7:
                            return this.lessons.sort((a, b) => {
                                if (a.Space > b.Space) {
                                    return -1;
                                } else if (a.Space < b.Space) {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            })
                        case 8:
                            return this.lessons.sort((a, b) => {
                                if (a.Space > b.Space) {
                                    return 1;
                                } else if (a.Space < b.Space) {
                                    return -1;
                                } else {
                                    return 0;
                                }
                            })
                    }
                },
            },
            computed: {
                cartItemCount() {
                    return this.displayLessonsCart.length; //Returns the number of items inside the cart and will update on the increse and decrease.
                },
            },
        });

    </script>
</body>

</html>